<template>
    <div>
        <a :href="authLink" v-if="!token">s</a>
        <div v-if="token">{{token}}</div>
    </div>
</template>

<script>
export default {
    async asyncData({ route }) {
        return {
            token: route.query.code
        };
    },
    computed: {
        authLink() {
            const params = [
                'client_id=46899977096215655',
                `redirect_uri=${encodeURI('https://embed.gog.com/on_login_success?origin=client')}`,
                'response_type=code',
                'layout=client2'
            ];
            return ['https://auth.gog.com/auth', params.join('&')].join('?');
        }
    }
}
</script>