<template>
    <div>
        <div>{{steamId}}:{{friendId}}</div>
        <h1>{{diffList.length}} games</h1>
        <div class="game-list" v-if="diffList.length > 0">
            <div class="game" v-for="game of diffList" :key="game.appId">
                <div>
                    <img :src="`http://media.steampowered.com/steamcommunity/public/images/apps/${game.appid}/${game.img_icon_url}.jpg`" alt="">
                </div>
                <div>{{game.name}}</div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.game-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}
.game {
    text-align: center;
}
</style>

<script>
import axios from 'axios';
const GAMES_LIST_ENDPOINT = 'http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/';
            let gameListEndpoint = '?key=DB7C81FE18D2516664FC3EBEBBD0EA07&steamid=76561198036957529&format=json&include_appinfo=1';

const TOKEN = 'DB7C81FE18D2516664FC3EBEBBD0EA07';
export default {
    async asyncData({ params }) {
        async function getUserGames(userId) {
            const params = [
                `key=${TOKEN}`,
                `steamid=${userId}`,
                'format=json',
                'include_appinfo=1'
            ];
            const result = await axios.get(
                [GAMES_LIST_ENDPOINT, params.join('&')].join('?')
            );
            const { game_count, games } = result.data.response;
            return {
                count: game_count,
                games
            };
        }
        const myGames = await getUserGames(params.id);
        const friendGames = await getUserGames(params.friend);
        
        return {
            steamId: params.id,
            friendId: params.friend,
            smallestList: myGames.game_count < friendGames.game_count ? myGames.games: friendGames.games,
            biggestList: myGames.game_count < friendGames.game_count ? friendGames.games : myGames.games
        };
    },
    computed: {
        diffList() {
            const biggestList = this.biggestList.map(item => {
                return item.appid
            });
            
            return this.smallestList.filter(item => {
                return biggestList.includes(item.appid);
            }).sort((a, b) => {
                if (a.name > b.name) return 1;
                if (a.name < b.name) return -1;
                return 0;
            });
        }
    }
}
</script>