<template>
    <div>
        <form @submit.prevent="steamIdHandle">
            <input type="text" v-model="steamId">
            <button type="submit">find friends</button>
        </form>
        <div class="friend-list" v-if="friendsList.length > 0">
            <div v-for="friend of friendsList" :key="friend.steamId">
                <img :src="friend.avatar" alt="">
                <div>{{friend.name}}</div>
                <div>{{friend.steamId}}</div>
            </div>
        </div>
        
    </div>
</template>

<style scoped>
    .friend-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
</style>

<script>
import axios from 'axios';
const TOKEN = 'DB7C81FE18D2516664FC3EBEBBD0EA07';
const evaId = '76561198164759335';
const myId = '76561198036957529';

const FRIENDS_LIST_ENDPOINT = 'http://api.steampowered.com/ISteamUser/GetFriendList/v0001/';
const PLAYER_SUMMARIES_ENDPOINT = 'http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/';
let gameListEndpoint = '?key=DB7C81FE18D2516664FC3EBEBBD0EA07&steamid=76561198036957529&format=json&include_appinfo=1';
let friendListEnpoint = '?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&steamid=76561197960435530&relationship=friend';

export default {
    async asyncData({params}) {
        async function getUserInfo(idList) {
            if (!Array.isArray(idList)) {
                idList = [idList];
            }
            const params = [
                `key=${TOKEN}`,
                `steamids=${idList.join(',')}`
            ];
            const result = await axios.get(
                [PLAYER_SUMMARIES_ENDPOINT, params.join('&')].join('?')
            );
            return result.data.response.players;
        };
        async function getFriends(steamId) {
            const params = [
                `key=${TOKEN}`,
                `steamId=${steamId}`,
                'relationship=friend'
            ];
            const result = await axios.get(
                [FRIENDS_LIST_ENDPOINT, params.join('&')].join('?')
            );
            
            const friendsIdList = result.data.friendslist.friends.map(friend => {
                return friend.steamid;
            });
            return await getUserInfo(friendsIdList);
        };
        const friends = await getFriends(params.id);
        console.log(friends);
        return {
            steamId: params.id,
            friends
        }
    },
    data() {
        return {
            friendId: null
        };
    },
    methods: {
        getGames() {

        },
        
        async steamIdHandle() {
            this.friends = await this.getFriends(this.steamId);
        }
    },
    computed: {
        friendsList() {
            if (this.friends.length === 0) {
                return [];
            }
            return this.friends.map(friend => {
                return {
                    steamId: friend.steamid,
                    name: friend.personaname,
                    avatar: friend.avatar
                }
            });
        }
    }
}
</script>